// Stile del secondo componente hero

@import '../style/variables.scss';

.buy {
    background-image: url('../assets/call-to-action-bg.jpg');
    background-color: rgba(255, 255, 255, 0);
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFF;

    .container-fluid {
        max-width: 1450px;
        padding: 7.5rem 0;

        .col {
            flex-basis: 65%;
        }

    }

}