@import './variables.scss';

* {
    font-family: "Roboto Slab", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: overlay;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    box-shadow: inset 1rem 1rem rgba(74, 74, 74, 0.5);
}

li,
ul,
menu {
    list-style: none;
}

img {
    max-width: 100%;
}

h2 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.25;
}

h3 {
    font-weight: 700;
    color: $dark-violet;
    font-size: 2rem;
    line-height: 1.25;
}

h4 {
    margin-bottom: 1.75rem;
    font-size: 0.75rem;
}

p {
    margin: 2.5rem 0;
}

.logo {
    width: 200px;
}

.my_btn {
    padding: 1rem 1.75rem;
    background-color: #FFF;
    color: $dark-violet;
    border-radius: 0.5rem;
    font-size: 0.75rem;
    cursor: pointer;

    &:hover,
    &.violet {
        background-color: $dark-violet;
        color: #FFF;
    }

    &.violet:hover {
        background-color: $light-blue;
        border: 1px solid $light-grey;
        color: $dark-violet;
    }
}

.container-fluid {
    max-width: 1700px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.products-section {
    padding: 10.5rem 0 14rem;
}

.shop-section {
    padding: 14.5rem 0 19.75rem;
}

.flex-column {
    flex-direction: column;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.col-25 {
    flex-basis: 25%;
}

.col-33 {
    flex-basis: calc(100% / 3);
}

.col-50 {
    flex-basis: 50%;
}

.col-66 {
    flex-basis: calc(100% * (2 / 3));
}

.col-75 {
    flex-basis: 75%;
}

.grid {
    display: grid;
}

.text-center {
    text-align: center;
}

.layover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.3), hsla(264, 57%, 40%, 0.5))
}

// #app {
//     background-color: $--dark;
//     min-height: 100vh;
//     display: flex;
//     flex-direction: column;
//     color: #FFF;
// }

// .burger {
//     margin-left: 0.5rem;
//     padding: 0.5rem;
//     height: 3rem;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-size: 2rem;
//     border: 1px solid rgb(125, 125, 125);
//     border-radius: 0.5rem;
//     background-color: rgb(41, 41, 41);
//     cursor: pointer;
// }


// .hidden-menu {
//     position: absolute;
//     top: 0;
//     right: 0;
//     height: 3.5rem;
//     background-color: rgba(0, 0, 0);
//     z-index: 999;
//     width: 0;
//     transition: width 500ms ease-in-out;

//     &.visible {
//         width: 100%;

//         ul {
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             height: 3.5rem;
//         }
//     }

// }

// .layover-menu {
//     position: absolute;
//     background-color: rgba(0, 0, 0, 0.5);
//     z-index: 998;
//     height: 0;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     transition: height 500ms ease-in-out;

//     &.visible {
//         height: 100%;
//     }
// }

// input {
//     border-width: 0;
// }